{% extends 'base.html' %}

{%block title%} <title>Dashboard</title> {%endblock%}
{%block content%}
<h2 class="h2">DASHBOARD</h2>
{% include 'accounts/status.html' %}
<br>
<div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Create Customer</button>
          </div>
            <table class="table table-success table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Orders</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for c in customers %}
                  <tr>
                    <th scope="row">{{c.id}}</th>
                    <td><a href=""> {{c.name}}</a></td>
                    <td>{{c.phone}}</td>
                    <td> <a href="{% url 'customer' c.id %}"><button class="btn btn-primary">View</button></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <div class="d-grid gap-2">
            
          </div>
            <table class="table table-success table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Date Ordered</th>
                    <th scope="col">Status</th>
                    <th scope="col">Update</th>
                    <th scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  {% for o in orders %}
                  <tr>
                    <th scope="row">{{o.id}}</th>
                    <td>{{o.product.name}}</td>
                    <td>{{o.date_created}}</td>
                    <td>{{o.status}}</td>
                    <td><a href="{% url 'updateOrder' o.id %}"><button class="btn btn-primary">Update</button></a></td>
                    <td><a href="{% url 'deleteorder' o.id %}"><button class="btn btn-danger">Delete</button></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          
        </div>
      </div>
    </div>
  </div>
{%endblock%}
