<div class="row">
    <div class="col-sm-3">
      <div class="card text-center text-dark bg-info">
        <div class="card-header">Total Customers</div>
        <div class="card-body">
          <h5 class="card-title">{{cust_count}}</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-center text-dark bg-info">
        <div class="card-header">Total Orders</div>
        <div class="card-body">
          <h5 class="card-title">{{order_count}}</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-center text-dark bg-info">
            <div class="card-header">Orders Delivered</div>
          <div class="card-body">
            <h5 class="card-title">{{delivered_count}}</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-center text-dark bg-info">
            <div class="card-header">Orders Pending</div>
          <div class="card-body">
            <h5 class="card-title">{{pending_count}}</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
  </div>